.container {
  text-align: center;
  margin: auto;
}

.btns{
 width: 25%;
 margin: auto;
 display: flex;
 flex-direction: row; 
 justify-content: space-around;
 text-align: center;
}

.btns > button{
  width: 200px;
  height: 100px;
  
}

.studentList{
  width: 20%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid black;
}
.studentList > div {
  border-bottom: 2px dotted black;
}
